.final-area, #next, #count {
	display: none;
}
body {
	background: #AD5CDF;
	background: -webkit-linear-gradient(left top, #AD5CDF, #FF9A47);
	background: -o-linear-gradient (bottom right, #AD5CDF, #FF9A47);
	background: -moz-linear-gradient (bottom right, #AD5CDF, #FF9A47);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 50px auto;
	background-repeat: no-repeat;
	background-size:cover;
	padding:150px;
	height:1000px;
}
#question, #final-area {
	height: 500px;
	text-align: center;
}
.button, .playagainbutton{
	width:400px;
	height:50px;
	border-radius:20px;
	background-color:#FFC280;
	border:none;
	color:white;
	font-size:32px;
	font-weight:300;
	transition: 1s;
}

#next {

	font-size:25px;
	font-weight:300;
	background-color:#cc99cc;
	width:100px;
	height:60px;
	border-radius: 20px;
	border:none;
	color:white;
	transition: 1s;
}
.start-area, #final-area {
	font-size: 45px;
	font-weight: 900;
	padding-top:100px;
	padding: 20px;
	text-align: center;
	width: 100%;

}
#final-area{
	font-weight: 500;
}
#count{
	font-weight:300;
	font-size:40px;
	text-align:left;
	margin-left:-80px;
}
h2{
	font-size: 50px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	padding-left: 75px;
	text-decoration: none;
	font-size:40px;
	list-style: none;
	padding: 10px;
}
#feedback{
	font-size: 30px;
}
@media only screen and (max-width: 700px) {
	body{
		padding: 50px;
	}
	#count {
		position: absolute;
		margin: -40px;
		font-size:1.25em;
		

	}
	h1{
		font-size:1.25em;
	}
	.button, .playagainbutton {
		font-size: 0.5em;
		width: 250px;
	}
	li{
		font-size: 30px
	}
	h2{
		font-size: 35px;
	}
}



