.final-area, #next {
	display: none;
}
body {
	background: #AD5CDF;
	background: -webkit-linear-gradient(left top, #AD5CDF, #FF9A47);
	background: -o-linear-gradient (bottom right, #AD5CDF, #FF9A47);
	background: -moz-linear-gradient (bottom right, #AD5CDF, #FF9A47);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 50px auto;
	background-repeat: no-repeat;
	background-size:cover;
	padding:150px;
}
#question {
	height: 400px;
}
.button{
	width:400px;
	height:50px;
	border-radius:20px;
	background-color:#FF9A47;
	border:none;
	color:white;
	font-size:32px;
	font-weight:300;
}
#next {
	font-size:25px;
	font-weight:300;
	background-color:#cc99cc;
	width:100px;
	height:60px;
	border-radius: 20px;
	border:none;
	color:white;
}
.start-area, #final-area {
	font-size: 45px;
	font-weight: 900;
	padding-top:100px;
	padding: 20px;
	text-align: center;
	width: 100%;

}
#count{
	font-weight:300;
	font-size:40px;
	text-align:left;
	margin-left:-80px;
}
h2{
	font-size: 50px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	padding-left: 75px;
	text-decoration: none;
	font-size:40px;
	list-style: none;
}
#feedback{
	font-size: 40px;
}
